.App {
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  height: 100vh;
  width: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 250px;
  min-height: 100%;
  background-color: #014254;
  color: #f1f1f1;
  justify-content: space-between;
}

.sidebar-heading {
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}

.sidebar-title {
  text-align: left;
}

.sidebar-logo {
  width: 60px;
  height: 60px;
  padding-left: 8%;
  padding-right: 10px;
  padding-top: 10px;
}

.sidebar-items {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-items .sidebar-row {
  width: 80%;
  height: 65px;
  margin: 10px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-items .sidebar-row:hover {
  color:cadetblue ;
}

.sidebar-items #active {
  background-color: #f1f1f1;
  color: #014254;
  border-radius: 10px;
  width: 85%;
}

.sidebar-row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar-row #title {
  flex: 70%;
  text-align: left;
  font-size: larger;
  font-weight: 500;
}

.auth-button {
  margin: 45px 10px;
  background-color: cadetblue;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  font-size: large;
  padding: 5px 15px;
}

.auth-button:hover {
  color: #014254 ;
}

.page-content {
  overflow: auto;
  width: 100vw;
  padding: 10px
}

.page-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  color: #014254;
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.search-bar-container {
  padding-top: 5px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  min-width: 200px;
  padding: 0 30px;
}

.search-bar-div {
  width: 80%;
  border-radius: 10px;
  height: 30px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.download-button {
  border: none;
  background-color: #014254;
  color: #ffffff;
  border-radius: 10px;
  padding: 5px 8px;
  margin-left: 10px;
}

.search-bar-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 0.8rem;
  width: 100%;
}

.search-bar-input:focus {
  outline: none;
}

#search-icon {
  color: #014254;
  margin: 0 10px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.filter-by-text {
  margin-left: 30px;
  margin-right: 10px;
}

.filter-button {
  margin: 5px 5px;
  padding: 5px;
  background-color: #ffffff;
  color: #014254;
  border-radius: 10px;
  border: none;
  font-size: smaller;
}

.filter-button:hover {
  color:cadetblue ;
}

.filter-button.active {
  color: #f1f1f1;
  background-color: #014254; ;
}

.supervisor-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 12px;
  margin: 0px 20px;
}

.supervisor-summary {
  background-color: #ffffff;
  color: #014254;
  border-radius: 10px;
  height: 190px;
  margin: 10px;
  text-align: left;
  padding: 0% 7%;
}

.supervisor-summary:hover {
  background-color: cadetblue;
  color: #ffffff;
}

.supervisor-name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: medium;
}
.supervisor-email {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: smaller;
}

.supervisor-projects {
  margin-top: 0;
  overflow: hidden;
  max-height: 115px;
  font-size: medium;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #014254;
  border: none;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.back-button:hover {
  color:cadetblue ;
}

.back-button-text {
  margin-left: 5px;
  font-size: medium;
}

.profile-card {
  display:flex;
  margin: 15px 35px;
  height: 280px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
}

.profile-image-container {
  height: 100%;
  padding: 20px;
}

.profile-image {
  height:inherit;
  width: auto;
  border-radius: 10px;
}

.profile-card-details {
  text-align: left;
  margin-left: 15px;
  padding: 5px 0;
}

.profile-card-data {
  display: flex;
  align-items: center;
  margin: 0;
}

.profile-card-name {
  margin: 10px 0;
}

.profile-card-text {
  margin: 13px 0;
  margin-left: 15px;
}

.profile-info {
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
  padding: 20px;
  text-align: left;
}

.profile-projects {
  width: 60%;
}

.profile-info-divider {
  background-color: #014254;
  width: 2px;
  margin: 5px 10px;
}

.profile-supervision {
  display:grid;
  width: 38%;
  margin-left: 10px;
  justify-content: center;
}

.profile-data-no-margin {
  margin-bottom: 0px;
  margin-top: 5px;
}