.App {
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  height: 100vh;
  width: auto;
}

.sidebar {
  width: 30%;
  max-width: 250px;
  min-height: 100%;
  background-color: #014254;
  color: #f1f1f1;
}

.sidebar-heading {
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
}

.sidebar-title {
  text-align: left;
}

.sidebar-logo {
  width: 60px;
  height: 60px;
  padding-left: 8%;
  padding-right: 10px;
  padding-top: 10px;
}

.sidebar-items {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-items .sidebar-row {
  width: 80%;
  height: 65px;
  margin: 10px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-items .sidebar-row:hover {
  color:cadetblue ;
}

.sidebar-items #active {
  background-color: #f1f1f1;
  color: #014254;
  border-radius: 10px;
  width: 85%;
}

.sidebar-row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.sidebar-row #title {
  flex: 70%;
  text-align: left;
  font-size: x-large;
  font-weight: 500;
}

.page-content {
  overflow: auto;
}

.page-title {
  color: #014254;
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.search-bar-container {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  min-width: 200px;
  padding: 0 30px;
  margin-bottom: 20px;
}

.search-bar-div {
  width: 100%;
  border-radius: 10px;
  height: 30px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.search-bar-input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 0.8rem;
  width: 100%;
}

.search-bar-input:focus {
  outline: none;
}

#search-icon {
  color: #014254;
  margin: 0 10px;
}

.supervisor-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 12px;
  margin: 0px 20px;
}

.supervisor-summary {
  background-color: #ffffff;
  color: #014254;
  border-radius: 10px;
  height: 200px;
  margin: 10px;
  text-align: left;
  padding: 0% 7%;
}

.supervisor-name {
  margin-bottom: 5px;
}
.supervisor-email {
  margin-top: 5px;
}

.supervisor-projects {
  overflow: hidden;
  max-height: 100px;
}